a{
	text-decoration: none;
	color:#000000;
}

*{
	margin: 0;
	padding: 0;
	font-family: '幼圆';
}
html,body{
	height: 100%;
	background-color: #E7F5FF;
}
@font-face{
	font-family: 'fontello';
	src: url('../fonts/fontello.ttf');
}
.top{
	width: 100%;
	min-width: 800px;
	height: 11%;
	overflow: hidden;
	line-height: 70px;
	background-color: #1499F7;
}
.top .logo{
	width: 230px;
	height: 100%;
	color: #FFF;
	font-size: 22px;
	margin-left: 12px;
	float: left;
	background: url('../images/logo.png') no-repeat 2px;
	background-size: 60px;
}
.top .logo span{
	float: right;
}
.user{
	width: 200px;
	height: 100%;
	text-align: center;
	color: #FFF;
	margin: auto;
}
.nav{
	width: 200px;
	height: 100%;
	text-align: center;
	float: right;
}
.nav a{
	margin: 0px 6px;
}
.nav a:link, .nav a:visited{
	text-decoration: none;
	color: #FFF;
}
.main{
	width: 100%;
	min-width: 800px;
	height: 89%;
	min-height: 500px;
}
.menu{
	width: 20%;
	height: 100%;
	float: left;
	background-color: #D5EAF3;
	-webkit-user-select: none;
}
.table{
	width: 80%;
	height: 100%;
	float: left;
	background-color: #E7F5FF;
}
.menu div, .menu ul li{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	border-bottom: 1px solid #99D9EA;
}
.menu div:hover, .menu ul li:hover{
	background-color: #99D9EA;
}
.menu div span{
	font-family: 'fontello';
}
.menu ul{
	display: none;
	list-style-type: none;
	border-bottom: 1px solid #99D9EA;
}
.menu ul li{
	border: none;
	padding-left: 13px;
}
.table iframe{
	padding: 0px;
	margin: 0px;
	width: 98%;
	height: 98%;
	border: none;
	overflow-x: hidden;
}